.converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto; // 전체 높이에 맞춤
    margin: auto; // 중앙 정렬
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: visible;

    .converter-wrapper {
        width: 100%; // 너비를 100%로 설정하여 부모 요소에 맞춤
        margin-bottom: 20px;
    }

    .file-source-caption {
        text-align: center;
        margin-bottom: 10px;
    }

    .files-container {
        width: 100%;
        .data-table-wrapper {
            margin-top: 20px;

            .data-table2 {
                width: 100%;
                border-collapse: collapse; // 경계가 겹치게 설정
            
                thead {
                    background-color: #f8f9fa;
                }
            
                th, td {
                    padding: 10px;
                    text-align: center;
                    border: none; // 경계 제거
                }
            
                .dt-row {
                    // 행 사이의 간격을 추가하고 싶다면 여기에 margin을 추가할 수 있습니다.
                    &:not(:last-child) {
                        border-bottom: 1px solid #ccc; // 행 사이에만 경계 추가 (원하는 경우)
                    }
                }
            
                .btn-close {
                    background: none;
                    border: none;
                    color: red;
                    cursor: pointer;
                }
            }
            
            
        }

        .file-tools {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn-holder1 {
                display: flex;
                align-items: center;

                .btn {
                    margin-right: 10px;
                }
            }

            .convert-button {
                .btn {
                    background-color: #007bff; // Bootstrap 기본 색상
                    color: white;

                    &:hover {
                        background-color: #0056b3; // Hover 색상
                    }
                }
            }
        }
    }
}
