.header {
    background-color: #1a2d72;
    padding: 0 24px;
    margin-bottom: 0;
    color: white; /* 모든 페이지에서 흰색 글자 색상 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: color 0.3s;

    h3{
        font-size: 28px;
        padding: 10px;
    }

    a {
        color: inherit; /* 부모 요소의 색상을 상속받음 */
        text-decoration: none; /* 기본 링크 밑줄 제거 */

        &:visited {
            color: inherit; /* 클릭 후 색상을 부모의 색상으로 유지 */
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .header-left {
            display: flex;
            align-items: center;
            gap: 10px;

            .logo {
                max-width: 50px;
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }

        .header-right {
            display: flex;
            justify-content: flex-end;
            width: auto;
            font-size: 18px;
            gap: 10px; 

            .button {
                display: flex;
                justify-content: center;
                padding: 10px 15px;
                border-radius: 8px;
                width: 100px;
                cursor: pointer;

                &:hover {
                    background-color: #14235885;
                    color: #ffffffe7;
                    // box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.4);
                }

            }
        }
    }
}
