[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "~=4.8.0.74"
torch = "~=2.0.1"
torchvision = "~=0.15.2"
wget = "~=3.2"
matplotlib = "~=3.7.2"
scikit-image = "~=0.21.0"
pyqt6 = "~=6.5.2"
easyocr = "~=1.7.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
