
html, body {
    min-height: 100%;
    margin: 0;
    padding-top: 30px;
    overflow: auto;
    background-color: #FFFFFF;
}


.full-screen {
    height: 100%; /* 전체 화면 높이를 차지하게 설정 */
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
}

a { /*modal Gofullpage 하이퍼링크 */
  color: #3254ce; /* 링크 기본 색상 */
  text-decoration: none; /* 밑줄 제거 */
}