.home-container {
    margin: auto;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; // 상단 정렬
    height: auto; // 전체 화면 높이
    // overflow-y: auto; // 세로 스크롤 활성화
    // padding: 20px; // 내부 여백
    color: #EAECEF;
}

.upload-info { /* 도움말 Modal */
    width: 1200px;
    height: 80%;
    padding: 20px;
    background: #1f2540;
    border-radius: 10px;
    color: #EAECEF;
    line-height: 2;
    position: relative;
    margin: auto;
    top: 10%;
    overflow-y: auto; /* 스크롤을 활성화 */

    .info-image-1 {
        width: 400px;
        height: auto;
    }

    .info-image-2,
    .info-image-3 {
        width: 600px;
    }
    
    .upload-info:focus {
        outline: none;
    }
    
    .info-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-color: transparent;
        border-radius: 10px;
        padding: 10px 16px;
        background-color: #3254ce;
        color: #EAECEF;
        font-weight: 600;
        cursor: pointer;
    
        &:hover {
            background-color: #213a9680;
        }
    }
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}