.header {
    background-color: #213A96;
    padding: 0 24px;
    margin-bottom: 0;
    color: white; /* 모든 페이지에서 흰색 글자 색상 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: color 0.3s;

    h3{
        font-size: 28px;
        padding: 10px;
    }

    a {
        color: inherit; /* 부모 요소의 색상을 상속받음 */
        text-decoration: none; /* 기본 링크 밑줄 제거 */

        &:visited {
            color: inherit; /* 클릭 후 색상을 부모의 색상으로 유지 */
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .header-left {
            display: flex;
            gap: 10px;
        }

        .header-right {
            display: flex;
            gap: 40px;
            font-size: 18px;
            padding: 10px;

            h5 {
                &:hover {
                    color: #0ECB81; // 호버 시 색상 변경
                }
            }

            .menu-item {
                position: relative; // 드롭다운 위치를 위한 상대 위치 설정
                cursor: pointer;

                .dropdown-menu {
                    position: absolute;
                    top: 100%; // 메뉴 아래에 위치
                    left: 0;
                    background-color: #1E2329; // 배경색
                    border: 1px solid #2B3139;
                    border-radius: 10px;
                    z-index: 2000; // 드롭다운이 다른 요소 위에 오도록 설정
                    display: flex;
                    flex-direction: column;
                    min-width: 200px; // 메뉴1의 너비에 맞추기 위한 최소 너비 설정
    
                    a {
                        padding: 8px 16px;
                        color: #EAECEF; // 서브 메뉴 글자 색상
                        text-decoration: none;
                        display: block; // 링크를 블록으로 만들어 클릭 영역 확대
    
                        &:hover {
                            background-color: rgba(0,0,0,0.5); // 서브 메뉴 호버 색상
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

.logo-video {
    max-width: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
}
