.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: #EAECEF;

    .contents-container {
        width: 1300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        padding: 20px;
        box-sizing: content-box;

        .switch-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 5%;

            .switch-1-wrapper {
                display: flex;
                flex-direction: row;
                width: 100%;
                border-color: transparent;
                border-radius: 10px;
                background-color: #1f2540;
                padding: 8px;

                .switch-1 {
                    display: flex;
                    justify-content: space-around;
                    width: auto;
                    padding: 4px 8px;

                    div {
                        border-color: transparent;
                        border-radius: 10px;
                        padding: 4px 8px;
                        background-color: #3254ce;
                        color: #EAECEF;
                        font-weight: 600;

                        span {
                            padding: 4px 8px;
                        }
                    }

                    .questionmark {
                        margin-left: 10px;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
    
                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }

        .image-box-container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 30px;
            width: 95%;
            height: auto;

            .image-box-wrapper-1,
            .image-box-wrapper-2 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 16px;
                width: 500px;
                height: 500px;

                .image-box-1,
                .image-box-2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    width: 450px;
                    height: 350px;
                    background-color: #1f254025;
                    border: 5px dotted #8eaaff62;
                    border-radius: 32px;
                    transition: background-color 0.15s ease; // 배경색 변화에 애니메이션 추가
                    color: #B0B0B0;

                    .image-1,
                    .image-2 {
                        width: 90%;
                        height: 90%;
                    }
                }

                .upload-button-1,
                .upload-button-2 {
                    display: flex;
                    align-items: center;
                    background-color: #2a48b6;
                    color: #EAECEF;
                    border: none;
                    border-radius: 12px;
                    padding: 10px 15px;
                    margin-top: 20px;
                    width: 100px;
                    height: 50px;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        background-color: #213a9680;
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }

                .file-name {
                    margin-top: 20px;
                    color: #EAECEF;
                    font-size: 14px;
                }
            }

            .image-box-wrapper-1 .image-box-1.drag-over,
            .image-box-wrapper-2 .image-box-2.drag-over {
                background-color: rgba(255, 255, 255, 0.2); // 드래그 중일 때 배경색 변경
            }
        }

        .confirm-button-container {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;

            .confirm-button {
                background-color: #2a48b6;
                color: #EAECEF;
                border: none;
                border-radius: 12px;
                padding: 10px 15px;
                margin-left: 40px;
                width: 100px;
                height: 50px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: #213a9680;
                }

                &:active {
                    transform: scale(0.95);
                }
            }
        }
    }
}

.upload-info { /* 도움말 Modal */
    width: 1200px;
    height: 80%;
    padding: 20px;
    background: #1f2540;
    border-radius: 10px;
    color: #EAECEF;
    line-height: 2;
    position: relative;
    margin: auto;
    top: 10%;
    overflow-y: auto; /* 스크롤을 활성화 */

    &:focus {
        outline: none; /* 포커스 시 테두리 제거 */
    }

    .info-image-1 {
        width: 400px;
        height: auto;
    }

    .info-image-2,
    .info-image-3 {
        width: 600px;
    }
    
    .upload-info:focus {
        outline: none;
    }
    
    .info-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        border-color: transparent;
        border-radius: 10px;
        padding: 10px 16px;
        background-color: #3254ce;
        color: #EAECEF;
        font-weight: 600;
        cursor: pointer;
    
        &:hover {
            background-color: #213a9680;
        }
    }

    &::-webkit-scrollbar {
        display: flex;
        width: 5px;
        height: 5px;
        border-radius: 6px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: #8eaaff86;
        border-radius: 6px;
    }
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}