body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* 오른쪽 정렬 */
    justify-content: center;
    height: 100vh;
    padding-right: 20px; /* 약간의 여백 추가 */
}

.card {
    width: 300px; /* 신용카드 크기 */
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px; /* 카드 모서리 둥글기 */
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 8px !important; /* 모든 모서리에 반경을 8로 설정 */
    width: 100%;
    overflow: hidden; /* 경계를 벗어나는 콘텐츠를 숨김 */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px; /* 버튼 모서리 둥글기 */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
