/* signup.scss */

/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; /* 중앙 정렬 */
    height: 100vh; /* 화면 높이의 100% */
    padding-right: 15%; 
    background-color: #181a20; /* 배경색 */
    width: 100%;
}

/* 회원가입 폼 컨테이너 */
.signup-container {
    width: 400px;
    padding: 60px;
    /* border: 1.5px solid #2b3139; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    background-color: #181a20;
    border-radius: 10px;
    color: #FFFFFF;

}

/* 제목 스타일 */
.signup-title {
    margin-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* 입력 필드 스타일 */
.signup-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2b3139;
    border-radius: 10px;
    background-color: #181a20;
}

/* 버튼 스타일 */
.signup-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0ECB81;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.signup-button:hover {
    background-color: #0a965e;
}

/* 링크 스타일 */
.signup-link {
    display: block; /* 블록 요소로 설정하여 전체 너비 사용 */
    margin-top: 20px; /* 버튼과의 간격 */
    text-align: center; /* 오른쪽 정렬 */
    color: #0a965e; /* 링크 색상 */
    font-size: 14px; /* 글씨 크기 */
    text-decoration: none; /* 기본 밑줄 제거 */
}

.signup-link:hover {
    text-decoration: underline;
}
