.test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; // 상단 정렬
    height: 100vh; // 전체 화면 높이
    overflow-y: auto; // 세로 스크롤 활성화
    padding: 20px; // 내부 여백
    color: #EAECEF;

    .contents-container {
        width: 1200px;
        margin: 50px 300px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh; // 전체 화면 높이
        overflow-y: auto; // 세로 스크롤 활성화
        padding: 20px; // 내부 여백

        .switch-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 5%;

            .table-switch-wrapper {
                display: flex;
                flex-direction: row;
                width: 100%;
                border-color: transparent;
                border-radius: 10px;
                background-color: #1f2540;
                padding: 8px;

                .table-switch {
                    display: flex;
                    justify-content: space-around;
                    width: 10%;
                    padding: 4px 8px;

                    .table-choice {
                        border-color: transparent;
                        border-radius: 10px;
                        padding: 4px 8px;

                        .span {
                            padding: 4px 8px;
                        }

                        &:hover {
                            background-color: #181a20;
                        }

                        &.active {
                            background-color: #213A96;
                            color: #EAECEF;

                            &:hover {
                                background-color: #15255e;
                            }
                        }
                    }
                }
            }

        }

        .table-header-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 10px;

            .table-header-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                background-color: transparent;
                padding: 8px;

                .table-header {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    padding: 4px 8px;
                }
                }
        }

        .table-body-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 10px;

            .table-body-wrapper {
                    
                }
        }
    }

}
