<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
    <h2>회원가입</h2>
    <form th:action="@{/user/signup}" th:object="${memberCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <div class="mb-3">
            <label for="userId" class="form-label">사용자ID</label>
            <input type="text" th:field="*{userId}" class="form-control" id="userId" required>
        </div>

        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control" id="password1" required>
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control" id="password2" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control" id="email" required>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">사용자 이름</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>

        <div class="mb-3">
            <label for="phoneNumber" class="form-label">전화번호</label>
            <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" required>
        </div>

        <div class="mb-3">
            <label>
                <input type="checkbox" th:field="*{personalInfoConsent}"> 개인정보 수집 동의
            </label>
        </div>

        <div class="mb-3">
            <label>
                <input type="checkbox" th:field="*{dataAnalysisConsent}"> 데이터 분석 동의
            </label>
        </div>

        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</body>
</html>
